* {
    text-size-adjust: none;
}

/* 
=========
Variables
=========
*/
:root {
    /* Colours */
    --blue-1: #3E8DE3;
    --blue-2: #0C2D87;
    --blue-link: #3366CC;
    --bg-colour-1: #FFFFFF;
    --bg-colour-2: #F3F3F3;
    --bg-colour-3: #B3B3B3;
    --body-colour: #04060D;

    /* Borders */
    --menu-border: .125rem solid #B2B2B2;
    --submenu-mobile-border: .0625rem solid #B2B2B2;
    --footer-border-top: .125rem solid #04060D;
    --menu-shadow: 0rem .5rem 1rem 0rem rgba(0, 0, 0, 0.25);

    /* Fonts & Font Families */
    --body-font-family: Inter, "Inria Sans", sans-serif;
    --nav-font-family: "Inria Sans", sans-serif;
    --heading-font-family: "Space Grotesk", sans-serif;

    --body-font: normal 300 1rem/157.5% var(--body-font-family);
    --submenu-font: normal 300 1rem/normal var(--nav-font-family);
    --submenu-mobile-font: normal 400 1rem/normal var(--nav-font-family);
    --header-font: normal 300 1.125rem/normal var(--nav-font-family);
    --footer-font: normal 700 1.25rem/normal var(--nav-font-family);
    --footer-logo-font: normal 300 1.0625rem/normal var(--heading-font-family);
    --h1-font: normal 700 2.25rem/normal var(--heading-font-family);

    /* Images */
    /* --logo-img: url(../images/logo/logoB.png); */

    /* Animations & Transitions */
    --transition-1: all 0.5s ease;
}

/* 
=========
Navbar
=========
*/
.navbar {
    top: 0;
    width: 100%;
    height: 3.875rem;  
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: sticky;
    background: var(--blue-1, #3E8DE3);
    box-shadow: 0rem .25rem .25rem 0rem rgba(0, 0, 0, 0.25);
    z-index: 500;
    /* Sets z-axis priority to an arbitrarily high number to always be prevalent on screen*/

}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    transition: var(--transition-1);
}

.navbar-toggle img {
    max-height: 2.5rem;
}

.navbar-toggle {
    padding-right: 1rem;

    background: transparent;
    border-color: transparent;
    transition: var(--transition-1);
    cursor: pointer;
}

.navbar-toggle:hover {
    color: var(--clr-primary-1);
    /* transform: rotate(90deg); */
}

#hamburger-menu {
    /* This changes through JS in base.js */
    transition: var(--transition-1);
}

.navbar-menu {
    position: fixed;
    display: grid;
    top: 3.875rem;
    height: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: var(--menu-shadow);
    background-color: white;
    border: var(--menu-border);
    transition: var(--transition-1);
}

.navbar-menu>li {
    padding-left: 1.3125rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
    border-bottom: var(--submenu-mobile-border);
}

.navbar-menu a {
    color: var(--body-colour);
    font: var(--header-font);
    text-decoration: none;
    /* letter-spacing: var(--spacing); */
    display: block;
    /* padding: .5rem 1rem; */
    transition: var(--transition-1);
}

.navbar-menu a:hover {
    /* text-decoration: underline; */
    font-weight: bold;
    /* padding-left: 1.5rem; */
}

/* Submenu content (on mobile) */
.navbar-submenu {
    padding-top: .3125rem;
    display: grid;
    /* grid here for smooth open/close animation; none in desktop for proper hover functionality */
    background-color: var(--bg-colour-1);
    min-width: 10rem;
    z-index: 101;
    transition: var(--transition-1);
}

.navbar-submenu>li {
    padding-left: 1.3125rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
}

/* Links inside mobile submenu */
.navbar-submenu a {
    float: none;
    font: var(--submenu-mobile-font);
    color: var(--body-colour);
    text-decoration: none;
    display: block;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.navbar-submenu a:hover {
    /* text-decoration: underline; */
    font-weight: bold;
}

/* The dropdown container */
.navbar-dropdown {
    float: left;
    overflow: hidden;
    border-bottom: var(--submenu-mobile-border);
}

/* Dropdown button */
.navbar-subbtn {
    display: flex;
    width: 100%;
    font: var(--header-font);
    border: none;
    outline: none;
    color: var(--body-colour);
    padding: 0;
    background-color: inherit;
    justify-content: space-between;
    /* Important for vertical align on mobile phones */
}

#dropdown-arrow {
    float: right;
    max-height: 90%;
    margin-right: 1.3125rem;
    transition: var(--transition-1);
}

.navbar-logo {
    width: auto;
    height: 4.375rem;
    overflow: hidden;
}

@media screen and (min-width: 62.5rem) {
    .navbar {
        display: flex;
        padding: 2rem auto;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-header {
        margin-left: 2.1875rem;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-menu {
        height: 3.875rem;
        width: auto;
        background-color: inherit;
        border: none;
        box-shadow: none;
        position: static;
        display: flex;
        float: right;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-right: 2.4375rem;
        transition: none;
    }

    .navbar-menu>li {
        /* padding-right: 1.5625rem; */
        padding: 1.25rem .9375rem;
        margin: 0 .5rem;
    }

    .navbar-menu a {
        color: var(--bg-colour-1);
    }

    .navbar-submenu {
        padding: 0;
        display: none;
        width: 12.5625rem;
        height: 9.4375rem;
        border: var(--menu-border);
        box-shadow: var(--menu-shadow);
        background: #FFFFFF;
        transition: var(--transition-1);
        position: fixed;
        top: 3.875rem;
        right: 2.625rem;
    }

    .navbar-submenu li {
        width: 12.5625rem;
        height: 3.1875rem;
        padding: 0;
        margin: 0;
    }

    .navbar-submenu a {
        color: var(--body-colour);
        font: var(--submenu-font);
        height: 1.1875rem;
        padding-left: 1.3125rem;
        padding-top: calc((3.1875rem - 1.1875rem) / 2);
        padding-bottom: calc((3.1875rem - 1.1875rem) / 2);
        border-bottom: .0625rem solid #B2B2B2;
        border-left: .0625rem solid #B2B2B2;
    }

    .navbar-subbtn {
        width: auto;
        justify-content: space-evenly;
        color: var(--bg-colour-1);
    }

    /* Show the dropdown menu on hover */
    .navbar-dropdown:hover .navbar-submenu {
        display: block;
        transition: var(--transition-1);
    }

    #dropdown-arrow {
        max-width: 1.375rem;
        margin-left: .1875rem;
        margin-right: 0;
        float: none;
    }
}

@media screen and (min-width: 80rem) {
    .navbar-header {
        padding: 0;
        margin-left: calc(((100% - 80rem) / 2) + 2.1875rem);
    }

    .navbar-menu {
        height: 3.875rem;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-right: calc(((100% - 80rem) / 2) + 2.4375rem);
    }

    .navbar-submenu {
        display: none;
        width: 12.5625rem;
        height: 9.4375rem;
        border: var(--menu-border);
        background: var(--bg-colour-1);
        transition: var(--transition-1);
        position: fixed;
        top: 3.75rem;
        right: calc(((100% - 80rem) / 2) + 2.625rem);
    }

    /* Show the dropdown menu on hover */
    .navbar-dropdown:hover .navbar-submenu {
        display: block;
    }

}

/* 
========
Footer
========
*/

footer {
    position: absolute;
    display: block;
    bottom: 0;
    border-top: var(--footer-border-top);
    /* height: calc(6.25rem + (800 - 100vw)) !important; */
    max-height: 16.75rem;
    width: 100%;
    /* height: 5.375rem; */
    background-color: var(--blue-2);
    align-items: center;
    justify-content: center;
}

.footer-socials {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.footer-icons a {
    margin: .9375rem .625rem;
}

.footer-socials p {
    text-align: center;
    color: var(--bg-colour-1);
    font: var(--footer-logo-font);
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-menu {
    transition: var(--transition-1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.4238rem 1.875rem;
}

.footer-menu li {
    margin-bottom: .8125rem;
    margin-left: .625rem;
    margin-right: .625rem;
    text-align: center;
}

.footer-menu a {
    color: var(--bg-colour-1);
    font: var(--footer-font);
    text-decoration: underline;
    transition: var(--transition-1);
}

@media screen and (min-width: 48.125rem) {
    footer {
        height: 5.375rem;
        display: flex;
        padding: 1.75rem auto;
        align-items: center;
        justify-content: space-between;
    }

    .footer-socials {
        margin-top: 0rem;
        margin-left: 2.5rem;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .footer-icons a {
        margin: 0;
        padding-right: .75rem;
    }

    .footer-socials p {
        padding-left: .625rem;
    }

    .footer-menu {
        height: 5.375rem;
        display: flex;
        float: right;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 0;
        margin-right: 2.4375rem;
    }

    .footer-menu a {
        text-decoration: none;
    }

    .footer-menu a:hover {
        text-decoration: underline;
    }

    .footer-menu li {
        padding: 1.25rem .75rem;
        margin: 0 .5rem;
    }
}

@media screen and (min-width: 80rem) {
    .footer-socials {
        padding: 0;
        margin-left: calc(((100% - 80rem) / 2) + 2.5rem);
    }

    .footer-menu {
        margin-right: calc(((100% - 80rem) / 2) + 2.4375rem);
    }
}

/* 
========
General Body Elements
========
*/
.content {
    width: 100%;
    height: calc(100% - (16.75rem + 3.875rem));/* height: 32.125rem; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(255, 255, 255, 0.13) 8.96%);
}

ul {
    list-style-type: none;
}

h1 {
    font: var(--h1-font);
    text-align: center;
    letter-spacing: -0.0112rem;
}

/*
=========
JS Changing Classes
=========
*/

/* Adds height to hidden header menu items when hamburger icon is clicked ON PHONES*/
.show-menu {
    height: 10.625rem;
}

.show-submenu {
    height: 18.125rem;
}

/* darkens body and footer when header menu is opened ON PHONES */
/* .darken-screen {
    background-color: rgba(0, 0, 0, 0.9);
} */